body {
    font-size: 15px;
    color: $darkgray;
    font-family: "Lato, Helvetica, Arial, sans-serif";
    line-height: 1.4px;
    background: url('#{$img-path}/bg.png') repeat-x;
}

@include respond-below(sm) {
    section {
        width: 100%;
    }
}
