header {
    &.nav-header {
        padding-left: 14px;
        margin: 0;
        padding: 0 0 2px;
        border: 0;
        word-spacing: 2px;
        height: auto;
        background-color: #90CAD6;
        overflow: auto;
        padding-top: 15px;
        h1 {
            float: left;
            color: white;
            margin: 3px 0 15px 20px;
            float: left;
            font-size: 14px;
            text-transform: uppercase;
            padding: 0;
            border: 0;
            font: inherit;
            vertical-align: baseline;
            line-height: 1.4;
            font-weight: 600;
        }
        p {
            margin: 0;
            padding-right: 15px;
            float: right;
        }
    }
}